<div class="config-page">

  <div class="config-page__header">
    <div class="config-page__header-left">
      <h2 class="config-page__title">Routing Rules</h2>
      <p class="config-page__subtitle">Map request attributes to IT queues. Rules are evaluated by priority (lower = higher priority).</p>
    </div>
    <div class="config-page__header-right">
      @if (!loading()) {
        <tf-config-version-badge [version]="configVersion()" [changedAt]="updatedAt()" />
      }
      <button type="button" class="cfg-btn-save" [disabled]="saving()" (click)="addRule()">
        <i class="pi pi-plus"></i> Add Rule
      </button>
    </div>
  </div>

  @if (loading()) {
    <div class="config-page__skeleton">
      @for (_ of [1,2,3]; track $index) {
        <div class="config-skeleton-row"></div>
      }
    </div>
  } @else if (rules().length === 0) {

    <div class="config-empty">
      <i class="pi pi-sitemap config-empty__icon"></i>
      <p>No routing rules yet. Create rules to automatically route provisioning requests to the right queue.</p>
      <button type="button" class="cfg-btn-save" (click)="addRule()">
        <i class="pi pi-plus"></i> Add First Rule
      </button>
    </div>

  } @else {

    <p-table [value]="rules()" [rowHover]="true" styleClass="p-datatable-sm">
      <ng-template pTemplate="header">
        <tr>
          <th>Condition Field</th>
          <th>Condition Value</th>
          <th>Target Queue</th>
          <th style="width: 90px">Priority</th>
          <th style="width: 100px; text-align: center">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rule>
        @if (isEditing(rule.id)) {
          <!-- Edit mode row -->
          <tr class="editing-row">
            <td>
              <p-select
                [ngModel]="editingRows()[rule.id].conditionField"
                (ngModelChange)="patchEditRow(rule.id, { conditionField: $event })"
                [options]="conditionFields" optionLabel="label" optionValue="value"
                styleClass="row-dropdown" appendTo="body" />
            </td>
            <td>
              <input type="text"
                [ngModel]="editingRows()[rule.id].conditionValue"
                (ngModelChange)="patchEditRow(rule.id, { conditionValue: $event })"
                placeholder="e.g. Engineering"
                class="row-input" />
            </td>
            <td>
              <p-select
                [ngModel]="editingRows()[rule.id].targetQueueId"
                (ngModelChange)="patchEditRow(rule.id, { targetQueueId: $event })"
                [options]="queues()" optionLabel="label" optionValue="value"
                placeholder="Select queue"
                styleClass="row-dropdown" appendTo="body" />
            </td>
            <td>
              <p-inputNumber
                [ngModel]="editingRows()[rule.id].priority"
                (ngModelChange)="patchEditRow(rule.id, { priority: $event })"
                [min]="1" [max]="9999" [showButtons]="false"
                styleClass="row-priority-input" />
            </td>
            <td class="action-cell">
              <button type="button" class="cfg-icon-btn cfg-icon-btn--success" pTooltip="Save" (click)="saveRowEdit(rule.id)"><i class="pi pi-check"></i></button>
              <button type="button" class="cfg-icon-btn" pTooltip="Cancel" (click)="cancelEdit(rule.id)"><i class="pi pi-times"></i></button>
            </td>
          </tr>
        } @else {
          <!-- Display mode row -->
          <tr [class.duplicate-row]="duplicateIds().has(rule.id)">
            <td>
              <span class="condition-field">{{ rule.conditionField }}</span>
            </td>
            <td>{{ rule.conditionValue }}</td>
            <td>
              <span class="queue-label">{{ getQueueLabel(rule.targetQueueId) }}</span>
            </td>
            <td>
              <span class="priority-badge">{{ rule.priority }}</span>
            </td>
            <td class="action-cell">
              <button type="button" class="cfg-icon-btn" pTooltip="Edit" (click)="startEdit(rule)"><i class="pi pi-pencil"></i></button>
              <button type="button" class="cfg-icon-btn cfg-icon-btn--danger" pTooltip="Delete" (click)="confirmDelete(rule)"><i class="pi pi-trash"></i></button>
            </td>
          </tr>
        }
      </ng-template>
    </p-table>

    @if (duplicateIds().size > 0) {
      <div class="duplicate-warning">
        <i class="pi pi-exclamation-triangle"></i>
        <span>{{ duplicateIds().size }} rule(s) have duplicate condition combinations. Each condition field + value must be unique.</span>
      </div>
    }

  }

</div>
